/.idea
/target
*.iml
LICENSE
/out
src/main/resources/help
src/main/resources/logs
/src/main/resources/supportFiles/
/src/main/resources/js/test2.js
/src/main/resources/js/test.js
/src/main/resources/supportFiles/
