<html>
<head>
    $webResourceManager.requireResource("ru.pestov.alexey.plugins.spring.issue-assigneer:selects-resources")
</head>
<body>
<form class="aui" method="POST" action="IssueAssigneerWebworkAction!save.jspa" enctype="application/json">
    <div class="field-group">
        <label for="systemCab">Система</label>
        <select class="select" id="systemCab" name="systemCab">
            <option value="0">Select</option>
        </select>
    </div>
    <div class="field-group">
        <label for="typechange">Тип измения</label>
        <select class="select" id="typechange" name="typechange">
            <option value="0">Select</option>
            <option value="1">Bugfix</option>
            <option value="2">Активация настроек</option>
            <option value="3">Внерелиз</option>
            <option value="4">Дефект</option>
            <option value="5">Изменение настроек</option>
            <option value="6">Массовая выгрузка</option>
            <option value="7">Предсогласованное изменение</option>
            <option value="8">Релиз</option>
            <option value="9">Спринт</option>
            <option value="10">Фоновое задание</option>
        </select>
    </div>
    <div class="field-group">
        <label for="stage1">Стадия 1</label>
        <select class="multiselect" id="stage1" name="stage1" multiple disabled>
        </select>
    </div>
    <div class="field-group">
        <label for="stage21">Стадия 2.1</label>
        <select class="multiselect" id="stage21" name="stage21" multiple disabled>
        </select>
    </div>
    <div class="field-group">
        <label for="stage22">Стадия 2.2</label>
        <select class="multiselect" id="stage22" name="stage22" multiple disabled>
        </select>
    </div>
    <div class="field-group">
        <label for="stage23">Стадия 2.3</label>
        <select class="multiselect" id="stage23" name="stage23" multiple disabled>
        </select>
    </div>
    <div class="field-group">
        <label for="stage3">Стадия 3</label>
        <select class="multiselect" id="stage3" name="stage3" multiple disabled>
        </select>
    </div>
    <div class="field-group">
        <label for="active">Система активна?</label>
        <select class="selectdown" id="active" name="active" disabled>
            <option value="true">Да</option>
            <option value="false">Нет</option>
        </select>
    </div>
    <div class="field-group">
        <label for="authorize">Авторизующий</label>
        <select class="selectdown" id="authorize" name="authorize"  disabled>
        </select>
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save" id="comment-save-button">
            <a class="cancel" href="http://localhost:2990/jira/">Cancel</a>
        </div>
    </div>
</form>
</body>
</html>