<html>
<head>
</head>
<body>
<form class="aui" method="POST" action="/rest/cab/1.0/systems/post">
    <div class="field-group">
        <label for="system">System</label>
        <select class="select" id="system" name="system">
        </select>
    </div>
    <div class="field-group">
        <label for="typechange">Type change</label>
        <select class="select" id="typechange" name="typechange">
            <option>Select</option>
            <option value="$!{typeChange}">Bugfix</option>
            <option value="$!{typeChange}">Активация настроек</option>
            <option value="$!{typeChange}">Внерелиз</option>
            <option value="$!{typeChange}">Дефект</option>
            <option value="$!{typeChange}">Внерелиз</option>
            <option value="$!{typeChange}">Изменение настроек</option>
            <option value="$!{typeChange}">Массовая выгрузка</option>
            <option value="$!{typeChange}">Предсогласованное изменение</option>
            <option value="$!{typeChange}">Релиз</option>
            <option value="$!{typeChange}">Спринт</option>
            <option value="$!{typeChange}">Фоновое задание</option>
        </select>
    </div>
    <div class="field-group">
        <label for="step1">Step1</label>
        <input class="text medium-field" type="text" id="step1" name="step1" value="$!{step1}">
    </div>
    <div class="field-group">
        <label for="step2">Step2</label>
        <input class="text medium-field" type="text" id="step2" name="step2" value="$!{step2}">
    </div>
    <div class="field-group">
        <label for="step3">Step3</label>
        <input class="text medium-field" type="text" id="step3" name="step3" value="$!{step3}">
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save" id="comment-save-button">
            <a class="cancel" href="#">Cancel</a>
        </div>
    </div>
</form>
    $webResourceManager.requireResource("ru.pestov.alexey.plugins.spring.issue-assigneer:selects-resources")
</body>
</html>